

<div class="card card-sm mb-3">
  <div class="card-header">
    Consult course
  </div>
  <div class="card-body">
    <mat-accordion >
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Course
          </mat-panel-title>
          <mat-panel-description>
            Informacion del curso
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="card">
          <div class="card-body row g-4">
            <mat-list role="list">
              <mat-list-item role="listitem">Id:    {{course.courseId}}</mat-list-item>
              <mat-list-item role="listitem">name</mat-list-item>
              <mat-list-item role="listitem">Period</mat-list-item>
            </mat-list>
          </div>


        </div>

      </mat-expansion-panel>

    </mat-accordion>
  </div>
</div>
