<div class="card text-white mb-3">
  <div class="card-header">Students</div>
  <div class="card-body">
    <h5 class="card-title">List of Students</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-warning" type="button" [routerLink]="['/teachers/form']">
        Create Teacher
      </button>
    </div>
    <table class="table table-bordered table-striped" >
      <thead>
          <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Identification</th>
            <th>name</th>
            <th>lastName</th>
            <th>university</th>
            <th>detalles</th>
            <th>eliminar</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let teacher of teachers">
            <td>{{teacher.idPerson}}</td>
            <td>{{teacher.identificationType}}</td>
            <td>{{teacher.identificationNumber}}</td>
            <td>{{teacher.name}}</td>
            <td>{{teacher.lastName}}</td>
            <td>{{teacher.university}}</td>

            <td><button class="btn btn-info" (click)="editar(teacher)">Ver</button></td>
            <td><button class="btn btn-danger"(click)="eliminar(teacher)">Eliminar</button></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
