
.card{
  border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border: 3px solid #faf7fa;
  background-color: white;
}
.card-body{
  background-color: lightskyblue;
}
.table{
  background-color: white;
}
